HTML { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

BODY {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #08a;
}

* {
  margin: 0;
  padding: 0;
 }


.screen {
  position: absolute;
  overflow: hidden;
  border: 2px solid #f00;
  background-color: #000;
 

.key_right {
	width: 50px;
	height: 78px;
  position: absolute;
  overflow: hidden;
  border: 2px solid #001;
  background-image: url(/lastuniverse.github.com/images/keys/key.right.0.png);
}
.key_right:hover {
  background-image: url(/lastuniverse.github.com/images/keys/key.right.1.png);
}

